#app{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
}

#bg{
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

#pre{
    flex: 50;
    display: flex;
    background-position: center;
    background-size: cover;
    
}

.thumbs{
    flex: 1;
    background-position: center;
    background-size: cover;
    margin: 10px;
    
}

#thumb1{
    background-image: url(../imgs/bg1.jpg);
   
}
#thumb2{
    background-image: url(../imgs/bg2.jpg);
}
#thumb3{
    background-image: url(../imgs/bg3.jpg);
}
#thumb4{
    background-image: url(../imgs/bg4.jpg);
}

#stickerControls{
    position: absolute;
    bottom: 0;
    right: 0;
}
#stickerDisplay{
    position: absolute;
    bottom: 10px;
    right: -100px;
    widows: 100px;
    height: 100px;
}

#sticker{
    width: 100px;
    height: 100px;
}